.widget {
  display: flex;
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid black;
}
.select-container, .input-container {
  text-align: center;
}
select {
  margin-top: 20px;
  height: 21px;
}
input {
  width: 55px;
  margin-top: 20px;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.switch {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 88px;
  cursor: pointer;
}
.switch:focus {
  outline: none;
}
